.css-1kuvi62-MuiInputBase-root-MuiFilledInput-root{
    width: 350px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1026px) {
    .css-1kuvi62-MuiInputBase-root-MuiFilledInput-root{
        width: 240px;
        margin-bottom: 10px;
    }
}