.css-cj014n-MuiTableCell-root.MuiTableCell-head {
    background-color: #2596be;
    width: 150px;
    color: #fff;
}
.css-ch6uwj-MuiTableCell-root.MuiTableCell-head {
    background-color: #2596be;
    width: 115px;
    color: #fff;
}
#notavailable{
    text-align: center;
}
#cellme{
    background-color: #2596be;
    color: #fff;
}